.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.header__icon {
  object-fit: contain;
  /* display: flex; */
  height: 100px;
  margin-left: 20px;
  color: crimson;
}
.header__icon > img {
  height: 100px;
  /* display: flex; */
}

.header__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15vw;
  margin-right: 30px;
}
